Flask
python-dotenv
psycopg2-binary
gunicorn==21.2.0
requests
supabase
flask-cors
pydantic
docxtpl
flask-limiter
reportlab
google-api-python-client
google-auth
google-auth-oauthlib
APScheduler
py7zr
Pillow
